/*
<style>
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Lobster|Montserrat&display=swap');
</style>
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Lobster|Montserrat&display=swap" rel="stylesheet">
font-family: 'Montserrat', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Fira Sans Extra Condensed', sans-serif; 
*/
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
}

#blue {
    background-image: url(images/blue.jpg);
}

.card-title {
    font-weight: bolder;
    text-decoration: underline;
}

.cover {
    background-size: cover;
}

.description {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
    color: white;
}

div h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    font-size: 80px;
    padding-top: 60px;
    text-shadow: 4px 4px 3px grey;

}

.copyright {
    color: lightgray;
    font-size: 9px;
}

#contact {
    background-image: url(images/contact.jpg);
}

#contact-box {
    text-align: center;
    padding-top: 150px;
}

#green {
    background-image: url(images/green.jpg);
}

.home {
    background-image: url(images/banner.jpg);
    background-position: top;
}

html {
    padding: 50px 50px 50px 50px;

}

.ingredients {
    font-weight: bold;
    text-decoration: underline;
}

li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #74D9FF;
}

.pageDescription {
    color: white;
}

.pageHead {
    color: white;
}

#pink {
    background-image: url(images/pink.jpg);
}

.steps {
    font-weight: bold;
    text-decoration: underline;
}

.subheading {
    font-size: 20px;
    color: white;
    text-align: center;
}

textarea {
    height: 200px;
    width: 500px;
}