/*
<style>
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Lobster|Montserrat&display=swap');
</style>
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Lobster|Montserrat&display=swap" rel="stylesheet">
font-family: 'Montserrat', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Fira Sans Extra Condensed', sans-serif; 
*/
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
}
.banner {
    background-image: url(images/darkbanner.jpg);
    background-position: center;
    height: 300px;
}

.description {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
    color: white;
}
div h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    font-size: 80px;
    padding-top: 60px;
    text-shadow: 4px 4px 3px grey;

}
li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #74D9FF;
}
.card-img-top {
    max-width: 600px;
    max-height: 800px;
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
